.aboutMe {
    background-image: url("../img/background.jpg");
    padding: 3vh 0 10vh 0;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.aboutMe h2 {
    text-align: center;
    font-size: 32px;
    padding: 4vh 0;
    text-decoration: underline;
}

.photo {
    background-image: url("../img/fotoProfil.jpg");
    height: 20vw;
    width: 20vw;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    border-radius: 50%;
}

.descreption {
    margin: 5vh auto;
    padding: 3vh 0;
    text-align: justify;
    background-color: white;
    color: black;
    width: 70%;
    border-radius: 25px 25px 0 0;
}

.aboutMe p {
    padding-top: 1vh;
    margin: 1vh 6vh;
    text-align: justify;
    line-height: 1.8;
    text-indent: 2rem;
}

.icons {
    margin: 3vh 0;
    display: flex;
    justify-content: space-evenly;
}

.line {
    width: 80%;
    margin: 10vh auto;
    height: 3px;
    background-color: #fff;
}

.fab {
    padding: 10px 20px;
    font-size: 86px;
    cursor: pointer;
}

.fa-facebook-square {
    color: #4267B2;
}

.instagram {
    color: #fff;
    background: #d6249f;
    padding: 0 5px;
    border-radius: 20px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}
.fa-youtube {
    color: #FF0000;
}

.allSkills {
    width: 70%;
    margin: 0 auto;
    border-radius: 25px;
    background-color: white;
    color: black;
}

.skills h2 {
    text-transform: uppercase;
    background-color: #fff;
    color: black;
}

.abilities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 3vw;
}

.softSkills {
    text-transform: uppercase;
}

.softAbilities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 3vw;
    padding-bottom: 4vh;
}

.softAbilities .fas {
    display: block;
    padding: 10px 20px;
    font-size: 86px;
    cursor: pointer;
}

.fa-html5 {
    color: #e34f26;
}

.fa-css3-alt {
    color: #2965f1;
}

.fa-js-square {
    color: #F0DB4F;
}

.fa-react {
    color: #61dbfb;
}

.fa-git-alt {
    color: #F1502F;
}

.fa-npm {
    color: #CC3534;
}

p.moreInfoSkills {
    text-align: center;
    padding: 2vh 0;
}

p.moreInfoSoftSkills {
    text-align: center;
    padding: 2vh 0;
    text-align: center;
    text-transform: none;
}

@media only screen and (max-width: 914px) {
    .projects {
        width: 100%;
    }

    .photo {
        height: 40vw;
        width: 40vw;
    }
}

@media only screen and (max-width: 600px) {
    .descreption {
        width: 100%;
        border-radius: 25px 25px 0 0;
    }

    .allSkills {
        width: 100%;
    }

    .photo {
        height: 50vw;
        width: 50vw;
    }
}