* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.mainSite {
    height: 100vh;
    max-width: 100vw;
    background-image: url("../images/mainSitePicture.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.logo {
    position: relative;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 30%;
    max-width: 300px;
}

.name {
    position: relative;
    top: 25%;
    text-align: center;
}

.name h2 {
    font-size: 64px;
}

.name h3 {
    font-size: 34px;
}

@media only screen and (max-width: 1100px) {
    .logo {
        width: 30%;
    }
}

@media only screen and (max-width: 700px) {
    .logo {
        width: 30%;
    }
}

@media only screen and (max-width: 470px) {
    .logo {
        width: 50%;
    }

    .name h2 {
        font-size: 42px;
    }
    
    .name h3 {
        font-size: 24px;
    }
}

